.jumbotron{
        height: 346px;
        background-size: cover;
        background-image: url("img/pizza.png");
}
.card-img-overlay h1 {
        background-color: #ffffffab;
        margin-top: 150px;
        width: 100%;
}
