* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: grey;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    display: inline-block;
    padding: 1em;
    font-weight: bolder;
}
nav a1 {
    color: black;
    display: flex;
    padding: 1em;
    text-decoration: none;
    margin-left: 300px;
    justify-content: space-around;
    font-weight: bolder;
}
nav a:hover {
    background: Green;
}

nav ul li:nth-child(6) {
    margin-left: auto;
}