body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 20px;
    font-family: Arial, Ubuntu, sans-serif;

}

.message-info{
    border-color: black;
    border-style: solid;
    background-color: lightblue;
    color: darkblue;
    padding: 10px;
    margin: 10px;
    width: 75%;
    border-radius: 5px;
    display: inline-block;

}
.message-success{
    border-color: black;
    background-color: greenyellow;
    color: darkgreen;
    padding: 10px;
    margin: 10px;
    width: 75%;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
}
.message-warning{
    border-color: black;
    background-color: yellow;
    color: darkkhaki;
    padding: 10px;
    margin: 10px;
    width: 75%;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
}
.message-error{
    border-color: black;
    background-color: red;
    color: darkred;
    padding: 10px;
    margin: 10px;
    width: 75%;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
}