#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 400px;
}
a{
    text-decoration: none;
    display: flex;
    color: white;
    align-content: space-evenly;

}
.btn-outline-success {
    color: white;
    border-style: none;
    display: inherit;
    background-color: blue;
}

.navbar:hover{
   background-color: blue;
    border-color: black;
    display: inherit;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    display: flex;
    margin: 10px;
    background-color: blue;
    border: white;
    text-align: left;
}